.md-header__button.md-logo img {
  width: 48px;
  height: 48px;
}

.md-typeset pre > code {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: visible;
}

:root  > * {
  --md-primary-fg-color:        #fc8a55;
}

.md-header {
    background-image: url("../assets/wallpaper.jpg");
    background-size: cover;
    background-position: center;
}